*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	background-color: #D3D3D3;
}
h1{
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
	text-decoration: underline;
	font-size: 175%;
}
#x{
	background-color: red;
	border: 5px solid black;
	margin-left: 5px;
	overflow: auto;
	margin-bottom: 5px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	margin-right: 5px;		
}
#y{
	background-color: green;
	border: 5px solid black;
	margin-left: 5px;
	float: left;
	margin-bottom: 5px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	margin-right: 5px;
}
#z{
	background-color: yellow;
	border: 5px solid black;
	margin-left: 5px;
	float: left;
	margin-bottom: 5px;
	padding-top: 3px;
	padding-right: 3px;
	margin-right: 5px;
	padding-bottom: 3px;
}
.Chicken,.Sushi,.Paneer{
	background-color: brown;
	float: right;
	clear: right;
	font-family: Impact, Charcoal, sans-serif;
	padding: 3px;
	margin-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: right;
	border: 5px solid black;
	font-size: 125%;
}
.b1,.b2,.b3{
	clear: right;
	font-family:  Arial, Helvetica, sans-serif;
	padding : 5px;
	margin-top: 3px;
	text-align: left;
	height: 110px;
	font-size: 100%;
}
.row {
  width: 100%;
}


@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border: 1px solid green;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: 1px solid green;
  }
  .col-md-1 {
    width: 50%;
  }
  .col-md-2 {
    width: 50%;
  }
  .col-md-3 {
    width: 100%;
  }
}
